body{
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

h1{
    font-size: 40px;
    border-right: 3px solid #00ff00;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30), blink .8s infinite;
}

h2{
    margin-top: 30px;
    border-bottom: 1px solid #00ff00;
    padding-bottom: 10px;
}

p{
    font-size: 18px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    border: 1px solid #00ff00;
    padding: 12px;
    margin-top: 10px;
    width: 300px;
    transition: 0.3s;
}

li:hover{
    transform: scale(1.05);
}

@keyframes typing{
    from{
        width:0;
    }

    to{
        width:100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}
