<!DOCTYPE html>
<html>

<head>

<title>Password Checker</title>

<link rel="stylesheet"
href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<div class="terminal">

<div class="terminal-body">

<h1>Password Strength Checker</h1>

<form method="POST" autocomplete="off">

<input
type="password"
name="password"
placeholder="Enter password"
autocomplete="off">

<br><br>

<button type="submit">

Analyze

</button>

</form>

<h2>{{result}}</h2>

<p>Security Score: {{score}} / 4</p>

<ul>
{% for item in suggestions %}
<li>{{item}}</li>
{% endfor %}
</ul>

</div>

</div>

</body>

</html>
